<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if pageType == 'home' %}
		<title>{{ settings.siteName }} - {{ settings.description }}</title>
  {% elif page.fileSlug == 'places' %}
    <title>{{ placeData[placeName].fullname }} - {{ settings.siteName }}</title>
  {% else %}
    <title>{{ title | safe }} - {{ settings.siteName }}</title>
	{% endif %}

  <meta name="description" content="{{ settings.description }}">

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/site-icon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ settings.siteName }}" href="/feed.xml" />

	<link rel="stylesheet" type="text/css" href="/css/tc.css" />

  {% block head %}
  {% endblock %}

  <script src="/js/search.min.js" defer></script>

</head>
<body>

  {% if settings.specialMessage %}
  <div class="padding-1 special-message">{{ settings.specialMessage }}</div>
  {% endif %}

  {% include "partials/site-header.njk" %}
  
  {% block content %}
  {% endblock content %}
  
  {% include "partials/site-footer.njk" %}





</body>
</html>