<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if pageType == 'home' %}
		<title>Trail Coffee - A Journal of Hiking Photography</title>
  {% elif page.fileSlug == 'places' %}
    <title>{{ placeData[placeName].fullname }} - Trail Coffee</title>
  {% else %}
    <title>{{ title | safe }} - Trail Coffee</title>
	{% endif %}

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/site-icon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Trail Coffee" href="/feed.xml" />

	<link rel="stylesheet" type="text/css" href="/css/tc.css" />

  {% block head %}
  {% endblock %}

</head>
<body>

  {% include "partials/site-header.njk" %}
  
  {% block content %}
  {% endblock content %}
  
  {% include "partials/site-footer.njk" %}

</body>
</html>