{% extends 'layouts/base.njk' %}

{% block content %}

<main class="row padding-x-3">
	<div class="col-s-12 post-card-wrapper">

		{% for key, place in placeData %}

			{% for post in collections[place.slug] %}

				{% if loop.last == true %}
					{% set placeName = place %}
					{% include "partials/post-card.njk" %}
				{% endif %}

			{% endfor %}

		{% endfor %}

	</div>
	<div class="col-s-12">
		{% include "partials/pagination.njk" %}
	</div>
</main>

{% endblock %}