{% extends 'layouts/base.njk' %}

{% block content %}

<main class="row padding-x-3">
	<div class="col-s-12">

		{% for post in posts %}
			{% include "partials/post-card.njk" %}
		{% endfor %}

		{% include "partials/pagination.njk" %}

	</div>
</main>

{% endblock %}