{% extends 'layouts/base.njk' %}

{% block content %}

<main class="row padding-x-3">
	<header class="col-s-12 margin-bottom-3">
		<div class="row row-vertical-center top-post padding-x-1">
			{% for post in collections.post | reverse %}
				{% if loop.first %}

					{% set imgID = post.data.image | getImgID %}
					{% set imgMeta = imageData[imgID] %}

					<div class="col-s-12 col-m-6">
						<a href="{{ post.data.permalink }}"><img src="{% imgPath post.data.image, '1200', '1200', 'fit' %}" class="top-post-image" alt="photo of {{ post.data.title }}" width="{{ imgMeta.width }}" height="{{ imgMeta.height }}" /></a>
					</div>
					<div class="col-s-12 col-m-6">
						<p class="top-post-lead-in">Latest Hike</p>
						<h1 class="margin-0"><a href="{{ post.data.permalink }}">{{ post.data.title }}</a></h1>
						<p class="margin-top-0">{{ post.data.excerpt }}</p>
						<a href="{{ post.data.permalink }}" class="button">Read about this hike</a>
					</div>

				{% endif %}
			{% endfor %}
		</div>
	</header>


	<div class="col-s-12 recent-posts">
		<h2>Find a Hike</h2>

		<div class="post-card-wrapper">

		{% for key, place in placeData %}

			{% for post in collections[place.slug] %}

				{% if loop.last == true %}
					{% set placeName = place %}
					{% set titleHeading = 'h3' %}
					{% include "partials/post-card.njk" %}
				{% endif %}

			{% endfor %}

		{% endfor %}

		</div>

	</div>
	<footer class="col-s-12">
		{% include "partials/pagination.njk" %}
	</footer>
</main>

{% endblock %}