{% extends 'layouts/base.njk' %}

{% block content %}

<main class="row padding-x-3 post">
	<article class="col-s-12">
		<header class="post-header margin-bottom-3">
			<h1 class="margin-x-0">{{ title }}</h1>
			<h2 class="margin-x-0">{{ excerpt }}</h2>
			{% postTags tags, placeData %}
		</header>

		{% if image %}
			<img 
			srcset="{% imgPath image, '1200', '', 'fit' %} 1200w, {% imgPath image, '2400', '', 'fit' %} 2400w, {% imgPath image, '2400', '', 'fit' %} 2x" 
			sizes="(max-width: 768px) 1200w" 
			class="post-featured-image" 
			/>
		{% endif %}

		<div class="row margin-x-3 post-content">
			<div class="col-s-12">
				{{ content | safe }}

				{% if gpx %}
					<a href="/gpx/{{ gpx }}" class="button margin-bottom-3" download>Download GPX File</a>
				{% endif %}
			</div>
		</div>

		{% if images %}
		<div class="row margin-x-3">
			<div class="col-s-12">
				<div class="post-image-gallery">
					{% for img in images %}
						<img src="{% imgPath img.image, '600', '', 'fit' %}?nf_resize=fit&w=600" alt="{{img.alt}}" />
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}

	</article>
</main>

{% endblock %}