{% extends 'layouts/base.njk' %}

{% block head %}

	{% if coords %}

		<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
		<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

		<script src="/assets/js/hike-map.js" defer></script>

	{% endif %}

{% endblock %}

{% block content %}

<main class="row padding-x-3 post">
	<article class="col-s-12">
		<header class="post-header margin-bottom-3">
			<h1 class="margin-x-0">{{ title }}</h1>
			<h2 class="margin-x-0">{{ excerpt }}</h2>
			<p>{% postTags tags, placeData %}</p>
		</header>

		{% if image %}
			<picture>
				<source srcset="{% imgPath image, '2400', '', 'fit' %}" media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" />
				<img src="{% imgPath image, '1200', '', 'fit' %}" class="post-featured-image" />
			</picture>
		{% endif %}

		<div class="row margin-x-3 post-content">
			<div class="col-s-12">
				{{ content | safe }}
			</div>
		</div>
		
		{% if coords %}

			<div id="map" class="post-map-view" data-coords="{{ coords }}" data-geojson="{{ geojson }}"></div>

		{% endif %}

		{% if images %}
	
			<div class="post-image-gallery margin-top-3">
				{% for img in images %}
					<picture>
						<source srcset="{% imgPath img.image, '1200', '', 'fit' %}" media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" />
						<img src="{% imgPath img.image, '600', '', 'fit' %}"  />
					</picture>
				{% endfor %}
			</div>
			
		{% endif %}

		<footer class="post-footer">
			<time>Originally published on {% timestamp date %}</time>

				{% set thisURL = page.url %}

			
				{% for item in tags %}
					{% if item !== 'post' %}
						<header class="post-footer-title margin-top-5 margin-bottom-2">See other places in <a href="/places/{{ placeData[item].slug }}/">{{ placeData[item].fullname }}</a></header>

						<div class="post-card-wrapper">
						{% for post in collections[item] %}

							{% if post.url !== thisURL %}
								{% set placeName = '' %}
								{% include "partials/post-card.njk" %}
							{% endif %}

						{% endfor %}
						</div>

					{% endif %}
				{% endfor %}
			
		</footer>

	</article>
</main>

{% endblock %}