{% extends 'layouts/base.njk' %}

{% block content %}

<main class="row padding-x-3 post">
	<article class="col-s-12">
		<header class="post-header">
			<h1>{{ title }}</h2>
			<a href="#">{{ tags }}</a>
		</header>

		<img src="{{ image }}" class="post-featured-image" />

		{{ content | safe }}
	</article>
</main>

{% endblock %}