.site-header {
	background-color: var(--color1);
	background-image: url('/images/contour-lines.svg');
	background-size: cover;
}

.site-logo {
	flex: 0 0 100%;
	max-width: 300px;
	margin-bottom: -3px;
	display: inline-block;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}