.site-header {
	background-color: var(--color1);
	background-image: url('/images/contour-lines.svg');
	background-size: cover;
	overflow: hidden;
}

.site-logo {
	display: block;
	max-width: 500px;
	margin-bottom: -1px;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}