.special-message {
	background: black;
	color: white;

	@media (min-width: 768px){
		text-align: center;
		font-size: rem(18);
	}
}

a {
	color: var(--link-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}




.sr-only {
	display: none;
}