.site-header {
	background-color: var(--color1);
	background-image: url('/_includes/svg/contour-lines.svg');
	background-size: cover;
}

.site-logo {
	display: block;
	max-width: 500px;
	
	font-family: var(--primary-font);
	color: var(--color2);
	font-size: 2.75em;

	&:hover {
		text-decoration: none;
	}

	@media (min-width: 768px){
		font-size: 3.75em;
	}
}