


.post {
	font-size: rem(24);
}

.post-header {
	h1 {
		font-family: var(--primary-font);
		font-size: rem(24);
		font-weight: normal;

		@media (min-width: 768px){
			font-size: rem(48);
		}
	}


	h2 {
		font-size: rem(18);
	}

	@media (min-width: 768px){
		h2 {
			font-size: rem(24);
		}
	}
}

.post-featured-image {
	width: 100%;
	height: auto;
}

.post-content {
	background: white;
}

.post-image-gallery {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 100%;

	img {
		width: 100%;
		height: auto;
	}

	@media (min-width: 768px){
		grid-template-columns: 1fr 1fr;
	}
}




.post-map-view {
	width: 100%;
	height: 400px;
}



.post-footer {
	border-top: 1px solid var(--color2-dark);
	margin-top: 3rem;

	time {
		font-size: rem(14);
	}

	.post-footer-title {
		font-family: var(--primary-font);
		font-size: rem(24);
	}
}