---
permalink: coordinate-data.json
---

{ 
  "type": "FeatureCollection",
    "features": [
      {% for post in collections.post  %}
        {
          "type": "Feature",
          "properties": {
            "name": "{{ post.data.title }}",
            "url": "{{ post.url }}"
          },
          "geometry": {
            "type": "Point",
            "coordinates": [{% formatCoords post.data.coords %}]
          }
        }{{ '' if loop.last else ',' }}
      {% endfor  %}
    ]
}