---
permalink: coordinate-data.json
---
[
  {% for post in collections.post  %}

    {
      "title": "{{ post.data.title }}",
	  "slug": "{{ post.fileSlug }}",
	  "coords": [{% formatCoords post.data.coords %}]
    }{{ '' if loop.last else ',' }}
  {% endfor  %}
]