---
layout: layouts/page.njk
pagination:
  data: placeData
  size: 1
  alias: placeName
pageType: places
permalink: /places/{{ placeName }}/index.html
---
<h1>{{ placeData[placeName].fullname }}</h1>

<div class="post-card-wrapper">
  {% for post in collections[pagination.items[0]] %}
    {% set placeName = '' %}
    {% include "partials/post-card.njk" %}
  {% endfor %}
</div>