---
layout: layouts/page.njk
pagination:
  data: placeData
  size: 1
permalink: /places/{{ pagination.items[0] }}/index.html
---
<h1>{{ placeData[pagination.items].fullname }}</h1>

<ul>
  {% for post in collections[pagination.items[0]] %}
    <li><a href="{{ post.data.permalink }}">{{ post.data.title | safe }}</a></li>
  {% endfor %}
</ul>