<header class="site-header">
	<div class="row row-no-flex padding-top-4 site-masthead">
		<a href="/" class="site-logo col-s-12 padding-y-1"><img src="/images/tc-title.svg" alt="Trail Coffee" /></a>
	</div>
</header>
