<footer class="site-footer">

	<nav class="row padding-x-3 site-places">
		<header>Places</header>
		<ul>
			{% for key, place in placeData %}
				<li><a href="/places/{{ place.slug }}/">{{ place.fullname }}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<div class="row padding-x-3">
		<p>&copy;2019 <a href="https://www.smithscott.net">Scott Smith</a></p>
	</div>

</footer>