<header class="site-header">
	<div class="row row-spaced row-vertical-center row-no-wrap padding-top-4 site-masthead">
		<img src="/images/tc-title.svg" class="site-logo" alt="Trail Coffee" />

	</div>
</header>
